Xcursor.theme: pixelfun
Xcursor.size:  16
XTerm*scrollBar: false
XTerm*rightScrollBar: false
XLogo*geometry: 150x150
Xclock*geometry: 150x150-0-0
Xclock*background: "#151515"
! FONTS
urxvt*font:     -benis-lemon-abunai-abunai-medium-r-normal--10-110-75-75-m-50-iso10646-1
urxvt*boldFont: -benis-lemon-abunai-abunai-medium-r-normal--10-110-75-75-m-50-iso10646-1
! COLOURS
*background: #151515
*foreground: #ffffff

*color0:  #202020
*color1:  #F8F8F8
*color2:  #AADB0F
*color3:  #F7F7F7
*color4:  #606060
*color5:  #91BA0D
*color6:  #E2E2E2
*color7:  #FFFFFF
*color8:  #202020
*color9:  #F8F8F8
*color10: #AADB0F
*color11: #F7F7F7
*color12: #606060
*color13: #91BA0D
*color14: #E2E2E2
*color15: #FFFFFF

