!  ██     ██                                                                        
! ░░██   ██                                                                         
!  ░░██ ██   ██████  █████   ██████  ██████  ██   ██ ██████  █████   █████   ██████ 
!   ░░███   ░░██░░█ ██░░░██ ██░░░░  ██░░░░██░██  ░██░░██░░█ ██░░░██ ██░░░██ ██░░░░  
!    ██░██   ░██ ░ ░███████░░█████ ░██   ░██░██  ░██ ░██ ░ ░██  ░░ ░███████░░█████  
!   ██ ░░██  ░██   ░██░░░░  ░░░░░██░██   ░██░██  ░██ ░██   ░██   ██░██░░░░  ░░░░░██ 
!  ██   ░░██░███   ░░██████ ██████ ░░██████ ░░██████░███   ░░█████ ░░██████ ██████  
! ░░     ░░ ░░░     ░░░░░░ ░░░░░░   ░░░░░░   ░░░░░░ ░░░     ░░░░░   ░░░░░░ ░░░░░░   
!SETTINGS
*font:       -lucy-tewi-medium-r-normal--11-90-100-100-c-60-iso10646-1
*boldFont:   -lucy-tewi-medium-r-normal--11-90-100-100-c-60-iso10646-1
*italicFont: -lucy-tewi-medium-r-normal--11-90-100-100-c-60-iso10646-1 

!COLORS
*highlightColor: #3B2D26
*cursorColor: 	 #AE826F
*borderColor: 	 #261D18
*background:  	 #261D18
*foreground:  	 #B39A8F

!BLACK
*color0:  #30251F
*color8:  #3B2D26
!RED
*color1:  #975542
*color9:  #A15A46
!GREEN
*color2:  #B3725A
*color10: #BD785F
!YELLOW
*color3:  #66493D
*color11: #705043
!BLUE
*color4:  #AD795C
*color12: #B88062
!MAGENTA
*color5:  #965744
*color13: #A15D49
!CYAN
*color6:  #4D372E
*color14: #573E34
!WHITE
*color7:  #A37A68
*color15: #AE826F

!URXVT SETTINGS
URxvt*dynamicColors:   on
URxvt.internalBorder:  20
URxvt*lineSpace:       2
URxvt*scrollBar:       false
URxvt.geometry:        74x16
URxvt*saveLines:       1000
URxvt*cursorUnderline: false
URxvt*cursorBlink:     true
URxvt*allow_bold:      true

!PERL
URxvt*perl-lib:        /usr/lib/urxvt/perl/
URxvt*perl-ext-common: default,matcher

!CLICKABLE LINKS
URxvt*url-launcher:   firefox
URxvt*matcher.button: 1

!2BWM COLORS
twobwm.border_width: 	   5
twobwm.outer_border: 	   0
twobwm.focus_color: 	   #C77E64
twobwm.unfocus_color: 	   #241B17
twobwm.fixed_color: 	   #975542
twobwm.unkill_color: 	   #C77E64
twobwm.outer_border_color: #261D18
twobwm.fixed_unkill_color: #A15A46
twobwm.inverted_colors:    false
twobwm.enable_compton: 	   true

!SXIV COLORS
sxiv.font: 		   lucy tewi:size=8
sxiv.win_bg_color: #261D18
sxiv.win_fs_color: #3B2D26
sxiv.sel_color:    #3B2D26
sxiv.bar_bg_color: #30251F
sxiv.bar_fg_color: #B39A8F
sxiv.win_width:    460
sxiv.win_height:   350

!MISC
Xcursor*size: 16
