!  ██     ██                                                                        
! ░░██   ██                                                                         
!  ░░██ ██   ██████  █████   ██████  ██████  ██   ██ ██████  █████   █████   ██████ 
!   ░░███   ░░██░░█ ██░░░██ ██░░░░  ██░░░░██░██  ░██░░██░░█ ██░░░██ ██░░░██ ██░░░░  
!    ██░██   ░██ ░ ░███████░░█████ ░██   ░██░██  ░██ ░██ ░ ░██  ░░ ░███████░░█████  
!   ██ ░░██  ░██   ░██░░░░  ░░░░░██░██   ░██░██  ░██ ░██   ░██   ██░██░░░░  ░░░░░██ 
!  ██   ░░██░███   ░░██████ ██████ ░░██████ ░░██████░███   ░░█████ ░░██████ ██████  
! ░░     ░░ ░░░     ░░░░░░ ░░░░░░   ░░░░░░   ░░░░░░ ░░░     ░░░░░   ░░░░░░ ░░░░░░   
!SETTINGS
*font:       -kakwa-kakwafont-medium-r-normal--12-120-72-72-c-60-iso8859-1
*boldFont:   -kakwa-kakwafont-medium-r-normal--12-120-72-72-c-60-iso8859-1
*italicFont: -kakwa-kakwafont-medium-r-normal--12-120-72-72-c-60-iso8859-1 

!COLORS
*highlightColor: #454545
*cursorColor: 	 #C8C9C4
*borderColor: 	 #303030
*background:  	 #303030
*foreground:  	 #CACCC6

!BLACK
*color0:  #3B3B3B
*color8:  #454545
!RED
*color1:  #939490
*color9:  #C6C7C2
!GREEN
*color2:  #9AC70E
*color10: #C2FA11
!YELLOW
*color3:  #727370
*color11: #90918E
!BLUE
*color4:  #B6B8B3
*color12: #D4D6D0
!MAGENTA
*color5:  #D1D1CB
*color13: #F0F0E9
!CYAN
*color6:  #636361
*color14: #82827F
!WHITE
*color7:  #AAABA6
*color15: #C8C9C4

!URXVT SETTINGS
URxvt*dynamicColors:   on
URxvt.internalBorder:  20
URxvt*lineSpace:       2
URxvt*scrollBar:       false
URxvt.geometry:        74x16
URxvt*saveLines:       1000
URxvt*cursorUnderline: false
URxvt*cursorBlink:     true
URxvt*allow_bold:      true

!PERL
URxvt*perl-lib:        /usr/lib/urxvt/perl/
URxvt*perl-ext-common: default,matcher

!CLICKABLE LINKS
URxvt*url-launcher:   firefox
URxvt*matcher.button: 1

!2BWM COLORS
twobwm.border_width: 	   5
twobwm.outer_border: 	   0
twobwm.focus_color: 	   #454545
twobwm.unfocus_color: 	   #3B3B3B
twobwm.fixed_color: 	   #939490
twobwm.unkill_color: 	   #9AC70E
twobwm.outer_border_color: #303030
twobwm.fixed_unkill_color: #C6C7C2
twobwm.inverted_colors:    false
twobwm.enable_compton: 	   true

!SXIV COLORS
sxiv.font: 		   kakwa kakwafont:size=8
sxiv.win_bg_color: #303030
sxiv.win_fs_color: #454545
sxiv.sel_color:    #454545
sxiv.bar_bg_color: #3B3B3B
sxiv.bar_fg_color: #CACCC6
sxiv.win_width:    460
sxiv.win_height:   350

!MISC
Xcursor*size: 16
