/**********************************************/
*
{
    /*-GtkWidget-focus-line-pattern: "\0"; use CSS outline-style*/

    /* START: Deprecated in GTK 3.20 */
    -GtkCheckButton-indicator-size: 5;
    -GtkCheckMenuItem-indicator-size: 5;
    -GtkCellRendererToggle-indicator-size: 5;

    -GtkToolItemGroup-expander-size: 5;
    -GtkExpander-expander-size: 5;
    -GtkTreeView-expander-size: 5;

    /*-GtkButton-child-displacement-x: 0; default*/
    /*-GtkButton-child-displacement-y: 0; default*/
    /*-GtkButton-default-border: 0; use CSS margins and padding*/

    /*-GtkScrolledWindow-scrollbar-spacing: 3; default*/

    -GtkRange-trough-border: 0;
    /*-GtkRange-stepper-spacing: -1; should be >=0*/

    /*-GtkNotebook-initial-gap: 0; default*/
    /*-GtkNotebook-tab-overlap: 2; default*/

    /*-GtkPaned-handle-size: 5; default*/
    /* END: Deprecated in GTK 3.20 */

    padding: 0;
    color: @fg_color;
    border-color: @border_color;
    border-style: solid;
}

*:selected,
.view:selected,
.entry:selected
{
    background-color: @selected_bg_color;
    color: @fg_color;
}

*:selected:focus,
.view:selected:focus,
.entry:selected:focus
{
    background-color: @selected_bg_color;
    color: @selected_fg_color;
}

*:focus
{
    color: @border_color;
}

.view:focus,
.entry:focus,
label:focus
{
    color: @fg_color;
}

treeview.view:focus
{
    color: @border_color;
}

treeview.view:focus *
{
    color: @fg_color;
}

*:disabled
{
    background-color: shade(@bg_color, 0.95);
    border-color: @insensitive_border_color;
    color: mix(@fg_color, @base_color, 0.5);
}

.background
{
    background-color: @bg_color;
    border: none;
}
/**********************************************/


/**********************************************/
label,
label:active,
label:disabled,
image,
image:active,
image:disabled
{
    background-color: transparent;
    border-width: 0;
}
/**********************************************/


/**********************************************/
statusbar *
{
    border-width: 0px 0 0 0;
}

statusbar label
{
    border-width: 0;
}
/**********************************************/


/**********************************************/
tooltip
{
    border: 0px solid @fg_color;
    background-color: @bg_color;
}
/**********************************************/


/**********************************************/
.view
{
    background-color: @base_color;
}
/**********************************************/


/**********************************************/
row
{
    border-width: 0;
}

row:hover
{
    background-color: shade(@base_color, 0.95);
}

row:nth-child(odd)
{
    background-color: shade(@base_color, 0.97);
}
/**********************************************/


/**********************************************/
trough,
trough > row,
trough > row:hover,
trough > row:selected,
trough > row:selected:focus
{
    background-color: mix(@fg_color, @bg_color, 0.9);
    border-width: 0px;
}

trough > row:selected
{
    border-color: @fg_color;
}

trough > row:selected:focus
{
    border-color: @selected_fg_color;
}

scrollbar > button,
scrollbar > button:hover,
scrollbar > button:active,
scrollbar > button:hover:active
{
    border-color: @border_color;
}

scrollbar slider
{
    background-color: @bg_color;
    border-left-color: @base_color;
    border-top-color: @base_color;
    border-width: 0px;
    padding: 2px;
    min-height: 10px;
    min-width: 5px;
}

progressbar > trough
{
    background-color: @bg_color;
}

scale > contents > trough
{
    border-width: 0px;
    border-color: @border_color;
    border-right-color: @base_color;
    border-bottom-color: @base_color;
}

scale > contents > trough > slider
{
    background-color: @bg_color;
    border-left-color: @base_color;
    border-top-color: @base_color;
    border-width: 0px;
    padding: 2px;
    min-height: 10px;
    min-width: 5px;
}

scrolledwindow
{
    border: none;
}
/**********************************************/


/**********************************************/
switch {
    border-width: 0px;
}

switch trough
{
    background-color: transparent;
}

switch trough:active
{
    background-color: @selected_bg_color;
    color: @selected_fg_color;
}

switch trough:disabled
{
    background-color: shade(@bg_color, 0.95);
}
/**********************************************/


/**********************************************/
slider
{
    border-width: 0px;
    background-color: @bg_color;
}

slider:disabled
{
}
/**********************************************/


/**********************************************/
separator
{
    background-color: @border_color;
    min-height: 1px;
    min-width: 1px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}
/**********************************************/


/**********************************************/
pane-separator
{
    border-width: 0;
    background-color: @bg_color;
}

pane-separator:hover
{
    background-color: shade(@base_color, 0.95);
}
/**********************************************/


/**********************************************/
button
{
    background-color: @bg_color;
    border-left-color: @base_color;
    border-top-color: @base_color;
    border-width: 0px;
    padding: 2px;
}

text-button
{
    border-width: 0px;
    padding: 2px;
}

button:hover
{
    background-color: shade(@bg_color, 1.03);
}

button:active
{
    background-color: shade(@bg_color, 0.9);
    border-right-color: {{ n_black }};
    border-bottom-color: {{ n_black }};
    border-left-color: {{ n_black }};
    border-top-color: {{ n_black }};
}

button:active:hover
{
    background-color: shade(@bg_color, 1.03);
}

button:disabled
{
    background-color: shade(@bg_color, 0.95);
    border-color: @insensitive_border_color;
    color: mix(@fg_color, @base_color, 0.5);
}

spinbutton button
{
    border: none;
}

spinbutton button:focus
{
    color: @fg_color;
}
/**********************************************/


/**********************************************/
entry
{
    background-color: @base_color;
    padding: 2px;
    border-width: 0px;
}

entry:disabled
{
    background-color: shade(@base_color, 0.95);
}
/**********************************************/


/**********************************************/
checkbutton,
checkbutton:selected,
checkbutton:selected:focus,
checkbutton:disabled
{
    background-color: @base_color;
	color: @selected-fg-color;
}

radio,
radio:selected,
radio:selected:focus
{
    background-color: @base_color;
    color: @selected_fg_color;
}

check,
check:selected,
check:selected:focus
{
    background-color: @base_color;
    color: @selected_fg_color;
}

radio:hover,
check:hover,
radio:hover:focus,
.check:hover:focus
{
    background-color: @base_color;
    border-color: @selected_fg_color;
}

radio:disabled,
radio:disabled:selected,
check:disabled,
check:disabled:selected
{
    background-color: shade(@base_color, 0.95);
    color: mix(@fg_color, @base_color, 0.5);
}

check row,
radio row
{
    background-color: @base_color;
    border-width: 0px;
}
/**********************************************/


/**********************************************/
combobox
{
    background-color: @base_color;
    border-width: 0;
}

combobox:disabled
{
    background-color: shade(@bg_color, 0.95);
}

combobox button
{
    padding: 2px;
}
/**********************************************/


/**********************************************/
toolbar
{
    padding: 2px;
    border-width: 0 0 0 0;
}
/**********************************************/


/**********************************************/
progressbar progress,
progressbar progress .row,
progressbar progress .row:hover
{
    background-color: @selected_bg_color;
    color: @selected_fg_color;
    border-width: 0px;
}

progressbar progress .row:selected
{
    border-color: @fg_color;
}

progressbar progress .row:selected:focus
{
    border-color: @selected_fg_color;
}
/**********************************************/


/**********************************************/
menubar
{
    border-width: 0 0 0 0;
}

menu
{
    border-width: 0px;
}

menuitem
{
    border-width: 0;
    background-color: transparent;
    padding: 2px;
}

menuitem label
{
    color: inherit;
}

menuitem:hover,
menuitem *:hover
{
    background-color: @selected_bg_color;
    color: @selected_fg_color;
}

menuitem.check,
menuitem.radio
{
    background-color: @base_color;
    color: @selected_bg_color;
    border-color: @border_color;
    border-width: 0px;
}

menuitem.check
{
    color: shade(@selected_bg_color, 0.9);
}

menuitem.check:disabled,
menuitem.radio:disabled
{
    background-color: shade(@base_color, 0.95);
    color: mix(@fg_color, @base_color, 0.5);
}
/**********************************************/


/** configure tabs */
notebook > stack
{
    padding: 2px;
    background-color: @bg_color;

    border-color: @base_color;
    border-right-color: @border_color;
    border-bottom-color: @border_color;
    border-width: 0px;
}

notebook > header > tabs > tab
{
    padding: 2px;
    border-width: 0px;
    border-right-color: @border_color;
    border-left-color: @base_color;
    border-top-color: @base_color;
    background-color: mix(@fg_color, @bg_color, 0.9);
}

notebook > header > tabs > tab:checked
{
    background-color: @bg_color;
}

notebook > header.top > tabs > tab
{
    margin-bottom: -1px;
    border-bottom-width: 0px;
}

notebook > header.bottom > tabs > tab
{
    margin-top: -1px;
    border-top-width: 0px;
}

notebook > header.left > tabs > tab
{
    margin-right: -1px;
    border-right-width: 0px;
}

notebook > header.right > tabs > tab
{
    margin-left: -1px;
    border-left-width: 0px;
}

/**********************************************/
sidebar,
sidebar.view
{
    background-color: shade(@bg_color, 1.05);
}

sidebar row:hover,
sidebar.view row:hover
{
    background-color: @bg_color;
}

sidebar row:selected,
sidebar row:selected:hover
{
    background-color: @selected_bg_color;
}
/**********************************************/


/**********************************************/
textview {
    border-width: 0px;
}

colorswatch
{
    border-width: 0px;
    background-color: @bg_color;
}

statusbar *
{
    border: none;
}

popover
{
    border-width: 0px;
}
/**********************************************/


/**********************************************/
expander
{
    border-color: @fg_color;
}

info
{
    background-color: @info_bg_color;
    color: @info_fg_color;
}

warning
{
    background-color: @warning_bg_color;
    color: @warning_fg_color;
}

question
{
    background-color: @question_bg_color;
    color: @question_fg_color;
}

error
{
    background-color: @error_bg_color;
    color: @error_fg_color;
}
/**********************************************/
