<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
	<menu id="root-menu" label="Openbox 3">
		<item label="TERMINAL">
			<action name="Execute">
				<execute>urxvt</execute>
			</action>
		</item>
		<item label="EDITOR">
			<action name="Execute">
				<execute>urxvt -e vim</execute>
			</action>
		</item>
		<item label="BROWSER">
			<action name="Execute">
				<execute>inox</execute>
			</action>
		</item>
		<item label="EXIT">
			<action name="Exit"/>
		</item>
	</menu>
</openbox_menu>
